#players-container
{
    padding-top: 1em;
}

#players-container #players-table
{

    border-collapse: collapse !important;
}

.dataTables_wrapper .table-filter
{
    margin-right: 1em;
}

@media (max-width: 768px) {
    .dataTables_wrapper .table-filter
    {
        margin-right: 0;
        margin-bottom: 1em;
    }
}


#players-container #players-table tr.player-offsick
{
    background-color: #FFBA8F;
}

#players-container #players-table .player-actions
{
    min-width: 120px;
}
