.form-container
{
    display: none;
    padding-top: 1em;
}

.global-actions
{
    padding-top: 1em;
}

@media (min-width: 768px) {
    .global-actions .btn
    {
        margin-left: 1em;
    }
}

@media (max-width: 468px) {
    .global-actions .btn
    {
        width: 100%;
        clear: both;
        margin-bottom: 1em;
    }
}

#player-profile
{
    padding-top: 1em;
}

#player-history
{

    border-collapse: collapse !important;
}



/* Injury table */

.description,
td.injury-description
{
    font-size: 10px;
}

td.injury-description
{
    min-width: 100px;
    text-overflow: ellipsis;
}

td.injury-actions
{
    min-width: 50px;
}

td.injury-happened-at
{
    font-size: 12px;
}

td.injury-days-off
{
    text-align: right;
}
